body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.custom-select {
	outline: none;
	border: 1px solid #ccc;
}

.custom-select:focus {
	outline: none;
	border-color: #ccc;
}

.active {
	color: #bb1f2a;
}

.inactive {
	color: #292b2c;
}

.inactive:hover {
	color: #bb1f2a;
}

.active:hover {
	color: #bb1f2a;
}

.blog-image {
	transition: transform 0.3s ease-in-out;
}

.blog-card:hover .blog-image {
	transform: scale(1.1);
}

.react-multi-carousel-dot button {
	background-color: #bb1f2a !important;
	width: 20px !important;
	height: 20px !important;
	border: #bb1f2a solid 2px !important;
}

.react-multi-carousel-dot--active button {
	background-color: #fff !important;
}

.react-multiple-carousel__arrow {
	background: #bb1f2a !important;
	border-radius: 5px !important;
	min-width: 35px !important;
	min-height: 35px !important;
}

.react-multiple-carousel__arrow--right {
	right: calc(1% + 2px) !important;
}

.react-multiple-carousel__arrow--left {
	left: calc(1% + 2px) !important;
}

/* .header_left_sec {
	padding: 3.5px 0px !important;
} */
.header_left_sec {
	padding: 0px 0px !important;
}

@media screen and (max-width: 600px) {
	.react-multiple-carousel__arrow--right {
		display: none !important;
	}

	.react-multiple-carousel__arrow--left {
		display: none !important;
	}
}

.search_icon {
	cursor: pointer !important;
}

.search_icon:hover {
	color: #bb1f2a !important;
}

.cart_icon:hover {
	color: #bb1f2a !important;
}

.form-control:focus {
	border-color: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.css-1sj2jcg-MuiTabs-indicator {
	color: #bb1f2a !important;
}