body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.custom-select {
  outline: none;
  border: 1px solid #ccc;
}

.custom-select:focus {
  outline: none;
  border-color: #ccc;
}

.active {
  color: #bb1f2a;

}

.inactive {
  color: #292b2c;
}


.inactive:hover {
  color: #bb1f2a;
}

.active:hover {
  color: #bb1f2a;
}


.blog-image {
  transition: transform 0.3s ease-in-out;
}

.blog-card:hover .blog-image {
  transform: scale(1.1);
}

